@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

body {
  margin: 0;
  background-image: url("img/bckgrnd.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.font-chewi {
  font-family: "Chewy", system-ui;
}
.custom-font {
  font-family: "Nothing You Could Do", cursive;
  font-weight: bold;
}

.cover-page {
  height: 100vh;
  background-image: url("img/foto1.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.cover-content {
  z-index: 1;
  color: white;
}

.cover-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.cover-content p {
  font-size: 1.5rem;
}

.btn {
  transition: all 0.3 ease;
}

.btn:hover {
  transform: scale(1.05);
}

.album {
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  height: 100%;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.centered-form {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 80%;
}

.outline-form {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}
